<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <title>{% block title %}Nanuq: Event Intranet{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'image/nanuq.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class ="intraHeader">
            <a href="{% url 'intraHome' %}"><img class = "headerElement headerLogo" src="{% static 'image/logo_yokai.png' %}" alt="Logo"></a>
            {% block header %}
            {% endblock %}
            <img class = "headerElement headerLogPicture" src="{% static 'image/nanuq.jpg' %}" alt="Logo">
        </div>
        {% include 'intraNavbar.html' %}
    </header>

    <main>
        {% block content %}
            <!-- This is where the content of each page will go -->
        {% endblock %}
    </main>

    <footer>
    </footer>

    <!-- Add your JavaScript scripts and other footer elements here -->

</body>
</html>