<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}Nanuq: Event Intranet{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'image/nanuq.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>Your Website</h1>
        {% include 'intraNavbar.html' %}
    </header>

    <main>
        {% block content %}
            <!-- This is where the content of each page will go -->
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </footer>

    <!-- Add your JavaScript scripts and other footer elements here -->

</body>
</html>