{% extends 'intraBase.html' %}
{% load static %}

{% block header %}
    <div class ="headerElement headerTitle">
        Intranet Japan Impact:<br>
        Suivi Pro
    </div>
{% endblock %}

{% block content %}

<div class ="createContactButton"><a href="{% url 'contactCreate' %}">Créer un contact</a></div>

<table class = "suiviPro">
    <tr class = "header">
        <th>Comité en charge</th>
        <th>Status</th>
        <th>Contacte</th>
        <th>Stand</th>
        <th>Activité</th>
        <th>Prestation</th>
    </tr>
    {% for contact in Contacts%}
        <tr class = "lines">
            <td>{{contact.userInCharge.username}}</td>
            <td>{{contact.get_status_display}}</td> <!--get_variableName_display-->
            <td>{{contact.namEntity}}</td>
            <td>{{contact.stand}}</td>
            <td>{{contact.activity}}</td>
            <td>{{contact.prestation}}</td>
        </tr>
        {% empty %}
            <h3>Pas de contact enregistré</h3>
    {% endfor %}

    {% endblock %}